#container{
	height: 800px;
}

header{

height: 100px;
width: 95%;
margin: auto;
font-size: 3em;

}

#demo{
	font-size: 1em;
}

#random{
	text-align: center;
}
 
form{
	text-align: center;
	padding: 40px;

}

/*to correct iframe height*/
html, body, iframe { 
	height: 100%; 
}