#container{
	height: 800px;
}

header{

height: 100px;
width: 95%;
margin: auto;
background-color: blue;

}

#random{
	text-align: center;
}
 
form{
	text-align: center;
	padding: 40px;

}

iframe{
	height: auto;
}
