#container{
	height: 800px;
}

header{
	height: 3.5em;
	width: 95%;
	margin: auto;
	font-size: 3em;
}

#demo{
	font-size: 1em;
	margin-top: 1em;
}
 
form{
	margin: 1em;
}

/*to correct iframe height*/
html, body, iframe { 
	height: 100%; 
}

#search-results{
	text-align: center;
}

/*style when hovered over*/
input:hover, #random:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 6px;
}

/*style when not hovered*/
input, #random{
	border-radius: 6px;
}

h1{
	text-align: center;
	margin-top: 30px;
}

header, #title, h3{
	font-family: 'Varela Round', sans-serif;
}

hr{
	border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}